<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>실습41. Session 연습</h1>
    <!-- isLogin == true; 00님 환영합니다! + 로그아웃 a 태그 -->
    <% if (isLogin) { %> <%= user %>님 환영합니다! %>
    <a href="/logout">로그아웃</a>
    <!-- <a href="/mypage">마이페이지</a> -->
    <% } else { %>
    <!-- isLogin == true; 로그인 a 태그 -->
    <a href="/login">로그인</a>
    <% } %>
  </body>
</html>
