// color

$height-header: 80px;
$color-blue: rgb(119, 164, 255);
$color-lightblue: rgb(243, 247, 255);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(123, 123, 123);
$shadow-black: rgba(0, 0, 0, 0.15);
